*.pyc
*/*/*.pyc
*/migrations/*
/__pycache__
*/media/
untraceableuniversity/static/img/logo4.png
untraceableuniversity/static/img/logo5.png
untraceableuniversity/static/img/logo3.png
untraceableuniversity/untraceableuniversity/settings.py
