{% extends "_base.html" %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col">

      <h1>
      {% block title %}
        {{ _("Meetings") }} - {{ _("Control panel") }}
      {% endblock %}
      </h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Date") }}</th>
          </tr>
        </thead>
        <tbody>
        {% for each in events %}
          <tr>
            <td><a href="{% url 'controlpanel_meeting' each.id %}">{{ each }}</a></td>
            <td>{{ each.get_date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <a href="{% url "controlpanel_meeting" %}" class="btn btn-primary"><i class="bi bi-plus"></i> {{ _("Add meeting") }}</a>

    </div>
  </div>
</div>

{% endblock %}
