{% extends "_base.html" %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col">

      <h1>
      {% block title %}
        {{ _("Meetings") }} - {{ _("Control panel") }}
      {% endblock %}
      </h1>

      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link {% if request.GET.upcoming %}active{% endif %}" href="./?upcoming=true">{{ _("Upcoming meetings") }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if not request.GET.upcoming and not request.GET.all %}active{% endif %}" href="./">{{ _("Past meetings") }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.GET.all %}active{% endif %}" href="./?all=true">{{ _("All meetings") }}</a>
        </li>
      </ul>

      <table class="table table-striped datatable">
        <thead>
          <tr>
            <th class="col-fill">{{ _("Title") }}</th>
            <th class="col-min">{{ _("Date") }}</th>
            <th class="col-min">{{ _("Participants") }}</th>
          </tr>
        </thead>
        <tbody>
        {% for each in events %}
          <tr>
            <td>
              <a href="{% url 'controlpanel_meeting' each.id %}">{{ each }}</a>

              {% if show_summaries %}
                <br>
                {% if each.thirtyseconds %}
                  {{ each.thirtyseconds }}
                {% elif each.meeting_notes %}
                  {{ each.get_notes|truncatewords:20 }}
                {% endif %}
              {% endif %}
            </td>
            <td class="text-nowrap" data-sort="-{{ each.date_start|date:"YmdHis" }}">{{ each.date_start|date:"M d, Y" }}</td>
            <td class="text-nowrap">
              <ul class="list-unstyled">
              {% for person in each.people.all %}
                <li>{{ person.firstname }}</li>
              {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <a href="{% url "controlpanel_meeting" %}" class="btn btn-primary"><i class="bi bi-plus"></i> {{ _("Add meeting") }}</a>

    </div>
  </div>
</div>

{% endblock %}
