{% extends "_base.html" %}

{% block head %}
  <style type="text/css">
    textarea{height:100px}
  </style>
{% endblock %}

{% block content %}

<div class="container pb-5">

  <div class="row">

      <div class="col-9">
        <h1 class="mb-0">{{ info }}</h1>
        <p>
          {{ info.get_dates }} | {{ info.date_start|timesince }} ago
        </p>

        {% if info.thirtyseconds %}
          <section>
            <h2>Summary</h2>
            {{ info.thirtyseconds }}
          </section>
        {% endif %}

        {% if info.meeting_notes %}
          <section class="mt-4">
            <h2>Meeting minutes</h2>
            {{ info.get_notes }}
          </section>
        {% endif %}

        {% if info.description %}
          <section class="mt-4">
            <h2>Description</h2>
            {{ info.get_description }}
          </section>
        {% endif %}

      </div>

    <div class="col-3">

      <h2>{{ _("Participants") }}</h2>
      <ul>
      {% for each in info.people.all %}
        <li><a href="{% url "controlpanel_people" each.id %}">{{ each }}</li>
      {% endfor %}
      </ul>

    </div>
  </div>

  <a class="btn btn-warning btn-edit" href="{% url "controlpanel_event_form" info.id %}?redirect={{ request.get_full_path }}">
    <i class="bi bi-pencil-square"></i>
  </a>

</div>

{% endblock %}
