{% extends "_base.html" %}

{% block head %}
  <style type="text/css">
    textarea{height:100px}
  </style>
{% endblock %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col">

      <h1>
      {% block title %}
        {% if info.id %}{{ _("Edit event") }}: {{ info }}{% else %}{{ _("Add event") }}{% endif %}
      {% endblock %}
      </h1>

      <form method="post" id="form">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">{{ _("Name") }}</label>
          <input type="text" class="form-control" name="name" value="{{ info.name }}">
        </div>

        <div class="mb-3">
          <label class="form-label">{{ _("Invite description/agenda") }}</label>
          <textarea class="form-control" rows="3" name="description">{{ info.description|default_if_none:"" }}</textarea>
        </div>

        <div class="mb-3 row">
          <label class="form-label col-sm-2">{{ _("Start time") }}</label>
          <div class="col-sm-5">
            <input type="date" class="form-control" name="date_start" value="{{ info.date_start|date:"Y-m-d" }}" required>
          </div>
          <div class="col-sm-5">
            <input type="time" class="form-control" name="time_start" value="{{ info.date_start|date:"H:i" }}" required>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="form-label col-sm-2">{{ _("End time") }}</label>
          <div class="col-sm-5">
            <input type="date" class="form-control" name="date_end" value="{{ info.date_end|date:"Y-m-d" }}" required>
          </div>
          <div class="col-sm-5">
            <input type="time" class="form-control" name="time_end" value="{{ info.date_end|date:"H:i" }}" required>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">{{ _("Directions") }}</label>
          <textarea class="form-control" rows="3" name="directions">{{ info.directions|default_if_none:"" }}</textarea>
        </div>


        <div class="mb-3">
          <label class="form-label">{{ _("Meeting minutes") }}</label>
          <textarea class="form-control" style="height:4em" placeholder="Short summary (optional)" rows="3" name="thirtyseconds">{{ info.thirtyseconds|default_if_none:"" }}</textarea>
          <textarea class="form-control" style="height:200px" placeholder="Full meeting minutes" rows="3" name="meeting_notes">{{ info.meeting_notes|default_if_none:"" }}</textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">{{ _("Type") }}</label>
          <select class="form-select" name="event_type" required>
            {% for key,value in event_types %}
              <option value="{{ key }}" {% if key == info.country %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </div>

        <button type="submit" class="btn btn-success">{{ _("Save") }}</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
