{% extends "_base.html" %}

{% block title %}
Control panel
{% endblock %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col-4">

      <h2>{{ _("Useful documents") }}</h2>

      <ul class="list-group mb-4">

          {% for each in docs %}
          <li class="list-group-item d-flex align-items-start pb-3 pt-3">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{ each }}</div>
              <p>{{ each.description|linebreaksbr }}</p>

              <i class="bi bi-{{ each.icon }} pe-2"></i>
              {% if each.details.link_view_en %}
                <a class="pe-2" href="{{ each.details.link_view_en }}">English</a>
              {% endif %}
              {% if each.details.link_view_es %}
                <a href="{{ each.details.link_view_es }}">Español</a>
              {% endif %}

              {% if each.details.link_edit_en or each.details.link_edit_es %}
                <br>
                <i class="bi bi-pencil pe-2"></i>
                {% if each.details.link_edit_en %}
                  <a class="pe-2" href="{{ each.details.link_edit_en }}">English</a>
                {% endif %}
                {% if each.details.link_edit_es %}
                  <a href="{{ each.details.link_edit_es }}">Español</a>
                {% endif %}
              {% endif %}

            </div>
          </li>
          {% endfor %}

        </ul>

        <a href="{% url "controlpanel_links" %}">{{ _("Manage documents and links") }}</a>

    </div>

    <div class="col-4">

      <h2>{{ _("Meetings") }}</h2>

      <h4 class="mt-4">{{ _("Upcoming") }}</h4>
      <ul class="list-group">

        {% for each in events %}
          <li class="list-group-item d-flex align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><a href="{% url "controlpanel_event" each.id %}">{{ each }}</a></div>
              {{ each.date_start|date:"D M d - H:i" }}
            </div>
          </li>
        {% endfor %}

      </ul>

      <h4 class="mt-5">{{ _("Recent") }}</h4>

      <ul class="list-group mb-4">

        {% for each in past_events %}
          <li class="list-group-item d-flex align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><a href="{% url "controlpanel_event" each.id %}">{{ each }}</a></div>
              {{ each.date_start|date:"D M d - H:i" }}
            </div>
            {% if each.thirtyseconds or each.meeting_notes %}
              <i title="{{ _("Meeting minutes available") }}" class="bi bi-journal-check text-success"></i>
            {% endif %}
          </li>
        {% endfor %}

      </ul>

      <a href="{% url "controlpanel_meetings" %}">{{ _("View all") }}</a>

    </div>

    <div class="col-4">

      <h2>{{ _("Useful links") }}</h2>

      <ul class="list-group">

        {% for each in links %}
          <li class="list-group-item d-flex align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><a href="{{ each.link_view_en }}">{{ each }}</a></div>
              {{ each.description|linebreaksbr }}
            </div>
          </li>
        {% endfor %}

      </ul>

      <h2 class="mt-4">{{ _("Latest leads") }}</h2>

      <ul>

        {% for each in leads %}
          <li>
            <a href="{% url "controlpanel_lead" each.id %}">{{ each }}</a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>
</div>

{% endblock %}
