{% extends "_base.html" %}

{% block head %}
  <style type="text/css">
    textarea{height:100px}
  </style>
{% endblock %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col">

      <h1>
      {% block title %}
        {% if info.id %}{{ _("Edit lead") }}: {{ info }}{% else %}{{ _("Add lead") }}{% endif %}
      {% endblock %}
      </h1>

      <form method="post" id="form" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">{{ _("Name") }}</label>
          <input type="text" class="form-control" name="name" value="{{ info.name }}">
        </div>

        <div class="mb-3">
          <label class="form-label">{{ _("URL") }}</label>
          <input type="url" class="form-control" name="url" value="{{ info.url|default_if_none:"" }}">
        </div>

        <div class="mb-3">
          <label class="form-label">{{ _("Official description") }}</label>
          <textarea class="form-control" rows="3" name="description">{{ info.description|default_if_none:"" }}</textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">{{ _("My notes") }}</label>
          <textarea class="form-control" rows="3" name="notes">{{ info.notes|default_if_none:"" }}</textarea>
        </div>

        <button type="submit" class="btn btn-success">{{ _("Save") }}</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
