{% extends "_base.html" %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col">

    <h1>
    {% block title %}
      {{ _("Organizations") }} - {{ _("Control panel") }}
    {% endblock %}
    </h1>

    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>{{ _("Partner") }}</th>
          <th>{{ _("Name") }}</th>
          <th style="width:100px">{{ _("Country") }}</th>
          <th>{{ _("Tags") }}</th>
        </tr>
      </thead>
      <tbody>
      {% for each in organizations %}
        <tr>
          <td class="text-center">{% if each.is_partner %}✓{% endif %}</td>
          <td><a href="{% url 'controlpanel_organization' each.id %}">{{ each }}</a></td>
          <td><span class="badge bg-secondary">{{ each.country|default_if_none:"" }}</span></td>
          <td>
            {% for tag in each.tags.all %}
              <a href="{% url "controlpanel_tagged" tag.id %}" class="badge bg-light text-dark">{{ tag }}</a>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <a href="{% url "controlpanel_organization" %}" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i> {{ _("Add organization") }}</a>

    </div>
  </div>
</div>

{% endblock %}
