{% extends "_base.html" %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col">

    <h1>
    {% block title %}
      {{ _("Tagged items") }}: {{ info }} - {{ _("Control panel") }}
    {% endblock %}
    </h1>

    <h3>{{ _("Organisations") }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _("Name") }}</th>
        </tr>
      </thead>
      <tbody>
      {% for each in organizations %}
        <tr>
          <td><a href="{% url 'controlpanel_organization' each.id %}">{{ each }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    </div>
  </div>
</div>

{% endblock %}
