{% extends "_base.html" %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    <div class="col">

    <h1>
    {% block title %}
      {{ _("Tags") }} - {{ _("Control panel") }}
    {% endblock %}
    </h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _("Name") }}</th>
        </tr>
      </thead>
      <tbody>
      {% for each in tags %}
        <tr>
          <td><a href="{% url 'controlpanel_tag' each.id %}">{{ each }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <a href="{% url "controlpanel_tag" %}" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i> {{ _("Add tag") }}</a>

    </div>
  </div>
</div>

{% endblock %}
