{% extends "_base.html" %}
{% load static %}

{% block title %}
  {{ info }}
{% endblock %}

{% block content %}

<div class="container pb-5">
  <div class="row">

    <div class="col-lg-8 col-md-12 offset-lg-2">

<h1>{{ info }}</h1>

<div class="tfont" id="contact_content">
{{ info.get_content }}
</div>

<form method="post">
  
  <div class="mb-3">
    <label class="form-label">Your name</label>
    <input name="name" type="text" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Message</label>
    <textarea class="form-control" name="message" rows="9" required></textarea>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-success">Send</button>
  </div>

  {% csrf_token %}
</form>

</div>
</div>

{% endblock %}

{% block head %}
  <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
  <script type="text/javascript">
  $(function(){
    
    function setCharAt(str,index,chr) {
      if(index > str.length-1) return str;
      return str.substring(0,index) + chr + str.substring(index+1);
    }

    cc = $("#contact_content p").last();
    str = cc.text();
    str = setCharAt(str,4,"&#64;");
    $(cc).html(str);
  });
  </script>
{% endblock %}
