{% extends "_base.html" %}
{% load i18n %}

{% block head %}
<style type="text/css">
.inspiration .card {
  max-width: 90px;
  margin-right: 10px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1) !important;
  margin-bottom: 10px;
}
.inspiration {
  column-count: 5;
  column-gap: 2px;
}

.joinbox {
  background:#f4f4f4;
}
.joinbox h2 {
  border-top: 2px solid #999;
  padding-top: 10px;
}
.partners img {
  max-height: 100px;
  margin-right: 50px;
}

.secondbox h2 {
  border-top: 2px solid #333;
  padding-top: 30px;
}

</style>
{% endblock %}

{% block title %}{{ _("The Untraceable University") }}{% endblock %}

{% block content %}

<div class="container">
  <div class="float-end">
    {% if request.language == "en" %}
      <a href="/es/">Español</a>
    {% else %}
      <a href="/">English</a>
    {% endif %}
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ _("The Untraceable University") }}</h1>
      <p class="lead">
        {{ summary.get_content }}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="overview/" class="btn btn-primary btn-lg px-4 me-md-2">{{ _("Learn more") }}</a>
        <a href="join/" class="btn btn-outline-secondary btn-lg px-4">{{ _("Join us") }}</a>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-5">
      <small>{{ _("Some examples of inspiring projects and literature:") }}</small>
      <div class="inspiration mt-2">
      {% for each in inspiration %}
          <div class="card">
            <a href="{{ each.url }}" target="_blank">
              <img src="{{ each.image.url }}" class="card-img-top" alt="{{ each }}" title="{{ each }}">
            </a>
          </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container pb-5 secondbox">

  <div class="row">

    <div class="col-sm-12 col-md-6">
      <h2>{{ _("Research") }}</h2>
      {{ research.get_content|truncatewords:60 }}
      <a href="research/">{{ _("Read more") }}</a>
    </div>

    <div class="col-sm-12 col-md-6">
      <h2>{{ _("Teaching") }}</h2>
      {{ teaching.get_content|truncatewords:60 }}
      <a href="teaching/">{{ _("Read more") }}</a>
    </div>

  </div>

</div>

<div class="nav-divider"></div>

<div class="container-fluid joinbox pb-5 pt-4">
  <div class="container">
    <div class="row">
      <h1 class="text-center mb-1 mt-4">{{ _("Join the Untraceable University Research Initiative") }}</span></h1>
      <p class="text-center mb-5">
        {{ _("Find out how you can link your research to feed into the Untraceable University's research objectives.") }}
      </p>
      <div class="col-md-3 col-sm-6">
        <h2><a href="join/researcher/">{{ _("Researcher") }}</a></h2>
        <p>
          {{ _("Do you engage in academic research? Find out how you can make your research align with the goals of the Untraceable University.") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="join/researcher/">{{ _("More information") }}</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h2><a href="join/supervisor/">{{ _("Supervisor") }}</a></h2>
        <p>
          {{ _("Do you supervise bachelor or master students? Support our research by offering your students topics and research questions related to our project.") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="join/supervisor/">{{ _("More information") }}</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h2><a href="join/lecturer/">{{ _("Lecturer") }}</a></h2>
        <p>
          {{ _("Do you teach classes at university or other academic institutions? We are happy to provide course assignments or a guest lecture to your students.") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="join/lecturer/">{{ _("More information") }}</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h2><a href="join/student/">{{ _("Student") }}</a></h2>
        <p>
          {{ _("Are you looking for a topic of investigation as part of a bachelor degree or master dissertation? Link your work with our research priorities.") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="join/student/">{{ _("More information") }}</a>
      </div>
    </div>
  </div>
</div>

{% if False %}
<div class="nav-divider"></div>

<div class="px-4 py-5 my-5 text-center partners">
    <h1 class="display-5 fw-bold text-body-emphasis">Our partners</h1>
    <img class="px-2" src="/media/partners/logo2.jpg" alt="" >
    <img class="" src="/media/partners/logo2.svg" alt="">
    <img class="" src="/media/partners/logo3.png" alt="">
</div>
{% endif %}

{% endblock %}
