{% extends "_base.html" %}
{% load i18n %}

{% block head %}
<style type="text/css">
.joinbox {
  background:#f4f4f4;
}
.joinbox h2 {
  border-top: 2px solid #999;
  padding-top: 10px;
}
.partners img {
  max-height: 100px;
  margin-right: 50px;
}
.wrapper {
  margin-top: 30px;
}
iframe {
  margin-top:30px;
}
.secondbox i {
  font-size: 2.5em;
  float: right;
  margin-right: 10px;
}
.secondbox h2 {
  padding-top: 30px;
  padding: 10px;
}
.secondbox h2 a {
  border-color: #333;
}
.secondbox .col-md-6 {
  padding: 50px;
}
</style>
{% endblock %}

{% block title %}{{ _("Untraceable University") }}{% endblock %}

{% block content %}

<div class="container px-4 px-md-3 mb-5">
  <div class="row">
    <div class="col-lg-5 mb-3">
      <h2 class="mt-5"><a href="{% url "about" %}">{{ _("About us") }}</a></h2>

      <p class="lead">
        {{ summary.get_content }}
      </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="{% url "about" %}" class="btn btn-primary btn-lg px-4 me-md-2">{{ _("Learn more") }}</a>
      <a href="{% url "join" %}" class="btn btn-outline-secondary btn-lg px-4">{{ _("Join us") }}</a>
    </div>

    </div>
    <div class="col-lg-7 mb-3">
      <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/GjAvobXq334?cc_load_policy=1{% if request.language == "es" %}&cc_lang_pref=es-419&hl=es-419{% endif %}&rel=0" title="{{ _("Introduction of the Untraceable University") }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

  </div>
</div>

<div class="nav-divider"></div>

<div class="container pb-5 secondbox mt-5">

  <div class="row">

    <div class="col-sm-12 col-md-6">
      <div>
        <i class="bi bi-journal-text"></i>
        <h2><a href="{% url "activities" "research" %}">{{ _("Research") }}</a></h2>
        <div class="p-2">
          {{ research.get_content|truncatewords:60 }}
        </div>
      </div>
    <a href="{% url "activities" "research" %}" class="btn btn-primary btn px-4 me-md-2 mt-2">{{ _("Learn more") }}</a>
    </div>

    <div class="col-sm-12 col-md-6">
      <div>
        <i class="bi bi-people"></i>
        <h2><a href="{% url "activities" "education-and-outreach" %}">{{ _("Education & Outreach") }}</a></h2>
        <div class="p-2">
          {{ education.get_content|truncatewords:60 }}
        </div>
      </div>
      <a href="{% url "activities" "education-and-outreach" %}" class="btn btn-primary btn mt-2 px-4 me-md-2">{{ _("Learn more") }}</a>
    </div>

  </div>

</div>

<div class="nav-divider"></div>

<div class="container-fluid joinbox pb-5 pt-4">
  <div class="container">
    <div class="row">
      <h1 class="text-center mb-1 mt-4">{{ _("Join the Untraceable University Research Initiative") }}</span></h1>
      <p class="text-center mb-5">
        {{ _("We are looking for people interested in scaling radical ideas around social justice and environmental sustainability.") }}
      </p>
      <div class="col-md-3 col-sm-6">
        <h2><a href="{% url "join" "tac" %}">{{ _("Researcher") }}</a></h2>
        <p>
          {{ _("Do you engage in academic research? Does your field have value to add to the visions and execution of the ideas behind the Untraceable University?") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="{% url "join" "tac" %}">{{ _("More information") }}</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h2><a href="{% url "join" "tac" %}">{{ _("Practitioner") }}</a></h2>
        <p>
          {{ _("Do you work in a field that is relevant to social and environmental transitions? To the planning, design, and construction of place and culture? Your support is needed.") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="{% url "join" "tac" %}">{{ _("More information") }}</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h2><a href="{% url "join" "tac" %}">{{ _("Student") }}</a></h2>
        <p>
          {{ _("Are you a Masters student or PhD candidate and interested in helping organise events and prepare material that can bring your field's thinking to the Untraceable University?") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="{% url "join" "tac" %}">{{ _("More information") }}</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h2><a href="{% url "join" "volunteers" %}">{{ _("Volunteer") }}</a></h2>
        <p>
          {{ _("We have a number of internal volunteer roles available, related to communications and outreach, website and multimedia development, and event management.") }}
        </p>
        <a class="btn btn-secondary btn-sm" href="{% url "join" "volunteers" %}">{{ _("More information") }}</a>
      </div>
    </div>
  </div>
</div>

{% if False %}
<div class="nav-divider"></div>

<div class="px-4 py-5 my-5 text-center partners">
    <h1 class="display-5 fw-bold text-body-emphasis">Our partners</h1>
    <img class="px-2" src="/media/partners/logo2.jpg" alt="" >
    <img class="" src="/media/partners/logo2.svg" alt="">
    <img class="" src="/media/partners/logo3.png" alt="">
</div>
{% endif %}

{% endblock %}
