{% extends "_base.html" %}

{% block title %}
  {{ info }}
{% endblock %}

{% block content %}

<div class="container pb-5">
  <div class="row">

    <div class="col-lg-8 col-md-12 offset-lg-2">

<h1>{{ info }}</h1>

<div class="tfont">
{{ info.get_content }}
</div>

<form method="post">
  
  <div class="mb-3">
    <label class="form-label">{{ _("Your name") }}</label>
    <input name="name" type="text" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">{{ _("E-mail address") }}</label>
    <input name="email" type="email" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">{{ _("Institution") }}</label>
    <input name="institution" type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">{{ _("Your discipline/field") }}</label>
    <input name="discipline" type="text" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">{{ _("Please elaborate on your interest and capacity to collaborate") }}</label>
    <textarea class="form-control" name="message" rows="9" required></textarea>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-success">{{ _("Send") }}</button>
  </div>

  {% csrf_token %}
</form>

</div>
</div>

{% endblock %}
