{% extends "_base.html" %}

{% block title %}
  {{ info }}
{% endblock %}

{% block content %}

<div class="container">

<h1>{{ info }}</h1>

<div class="tfont">
{{ info.get_content }}
</div>

<form method="post">
  
  <div class="mb-3">
    <label class="form-label">Your name</label>
    <input name="name" type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input name="name" type="email" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Your discipline/field</label>
    <input name="field" type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Please elaborate on your interest and capacity to collaborate</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>


  {% csrf_token %}
</form>

</div>

{% endblock %}
