{% extends "_base.html" %}

{% block title %}
  {{ info.title }} - {{ info.page.parent_page }}
{% endblock %}

{% block content %}

<div class="container pb-5">

  <div class="row">

    {% if sidebar %}
    <div class="d-flex flex-column sidebar flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
      <a href="{% url parent_page.page.slug %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">{{ parent_page }}</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        {% for each in sidebar %}
          <li class="nav-item">
            {% if each.page.parent_page == each.page %}
              <a href="{% url each.page.slug %}" class="nav-link link-body-emphasis {% if page == each.page.slug %}active{% endif %}">{{ _("Overview") }}</a>
            {% else %}
              <a href="{% url parent_page.page.slug each.page.slug %}" class="nav-link link-body-emphasis {% if page == each.page.slug %}active{% endif %}">{{ each }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="{% if sidebar %}col{% else %}col-lg-8 col-md-12 offset-lg-2{% endif %}">
      <h1>{{ info.title }}</h1>
      <div class="main">
      {{ info.get_content }}
      </div>

    </div>

  </div>
</div>

{% if request.user.is_staff %}
  <a class="btn btn-warning btn-edit" href="{% url "controlpanel_page" info.page.id %}?redirect={{ request.get_full_path }}">
    <i class="bi bi-pencil-square"></i>
  </a>
{% endif %}

{% endblock %}
