{% extends "_base.html" %}
{% block content %}

<div class="container pb-5">

  <div class="row">

    <h1>
    {% block title %}
      {{ _("Introduction video") }}
    {% endblock %}
    </h1>

    <iframe width="100%" style="height:70vh" src="https://www.youtube-nocookie.com/embed/GjAvobXq334?cc_load_policy=1{% if request.language == "es" %}&cc_lang_pref=es-419&hl=es-419{% endif %}&rel=0" title="{{ _("Introduction of the Untraceable University") }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  </div>
</div>

{% endblock %}
